<personslist>
    <table id="country">
      <tr>
        <th colspan="5">Country</th>
      </tr>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Last name</td>
        <td>Additional info</td>
        <td>Gender</td>
      </tr>
    </table>
</personslist>